<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Musical Book Order System &copy; 2019 <a href="https://www.google.com.sg">DoReMi</a>.</strong>
</footer>